@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  max-width: 100vw;
  max-height: 100vh;
  height: 100vh;
  font-size: clamp(14px, calc(15px + 0.390625vw), 24px);
  /* font-size: min(1.2rem, 1.2vw); */
  /* font-size: clamp(0.875rem, -0.3056rem + 3.7778vw, 3rem); */

  font-family: 'Poppins', sans-serif;
}

body {
  width: 100vw;
  height: 100%;
  min-width: 300px;
}

.sidebar {
  width: 180px;
  height: 100vh;
  background-color: #111827;
  color: #9ca3af;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-top,
.sidebar-center,
.sidebar-bottom {
  display: flex;
  align-items: center;
  width: 80%;
  border-bottom: 1px solid #4b4b4b;
  padding: 10px 0;
  margin-bottom: 10px;
}

/* .sidebar-center {
  margin: 0 auto;
  display: block;
  text-align: center;
} */
.sdebar-center {
  padding: 0;
}

/* .sidebar-bottom {
  border: none;
  display: flex;
  justify-content: space-evenly;
} */

.sidebar-bottom {
  justify-content: center;
  border: none;
}

.logo {
  font-size: max(1.5rem, 24px);
}

.brand {
  font-weight: bold;
  cursor: pointer;
}

.sidebar-top {
  display: flex;
  justify-content: space-around;
}

.list {
  list-style: none;
  padding: 0;
  width: 100%;
}

.list-item {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

.list-item:hover {
  transform: scale(1.05);
  background-color: #374151;
  color: #fff;
}

.list-item:hover {
  color: white;
}

.list-item-icon {
  width: 30px;
  font-size: 20px;
}

.list-item-text {
  margin-top: 0.5rem;
}

.color-box {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #9ca3af;
  margin-right: 15px;
  cursor: pointer;
}

.dark {
  background-color: #111827;
}
.night {
  background-color: #312e81;
}
.light {
  background-color: #f3f4f6;
}

@media only screen and (max-width: 668px) {
  .sidebar {
    width: 50px;
    /* padding: 0 1.2rem; */
  }

  .list-item {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
  }

  .brand,
  .sidebar-title,
  .list-item-text {
    display: none;
  }

  .sidebar-bottom {
    flex-direction: column;
    /* margin: 0.75rem auto 0.75rem; */
    gap: 12px;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
  }
}
